@import "tailwindcss";

@theme {
  --font-hand: var(--font-zen-kurenaido), cursive;
}

body {
  font-family: var(--font-hand);
}

/* 遠近感を強調するためのユーティリティ */
.perspective-container {
  perspective: 1000px;
}